$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eceff0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* My Styles*/

header{
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #1eb5e9;
    margin: 0 auto;
}

header p{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 13px 0 0 20px;
}

.nav{
    margin: 14px 20px 0 0;
}

.nav ul li{
    list-style: none;
    display: inline-block;
}

.nav ul li a{
     font-family: "museo-sans-rounded";
     color: white;
     text-decoration: none;
     text-transform: uppercase;
         letter-spacing: 1px;

     padding: 5px 10px;
}

.nav ul li a:hover{
    text-decoration: underline;
}

.intro{
    width: 100%;
    min-height: 300px;
    background-color: white;


}

.intro img{
    margin: 30px 0 0 30px;
}

.intro h1{
    padding: 4px 0 0 30px;
    font-size: 25px;
}

.intro p{
        padding: 0 20px 0 30px;

}

.generator{
    width: 100%;
    min-height: 200px;
    background-color: white;
}

.generator h2{
    text-align: center;
    font-size: 20px;
    padding: 20px 20px;
}

.transport{
    background-color: #CE6153;
    min-height: 300px;
}

.restaraunt{
    background-color: #115257;
        min-height: 300px;

}

.activity{
    background-color: #30B4BE;
        min-height: 300px;

}

.row{
    margin: 0 !important;
}

.col-md-4 h3{
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 15px 0 80px 0;
}


.col-md-4 select{
    margin: 0 0 30px 0;
}

.genbutton{
    width: 100%;
    height: 75px;
    background-color: white;
    margin: 30px 0 0 0;
    padding: 23px 0 0 0;
}

button.btn-success{
    display: block;
    width: 300px;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
        background-color: #358A66;

}

.date{
    width: 100%;
    height: 300px;
    background-color: white;
}

.date h4{
    text-transform: uppercase;
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

.date h1{
    font-size: 22px;
    text-align: center;
}

/*About Page Styling*/

.about{
    width: 100%;
    min-height: 600px;
    background-color: white;
}

.aboutintro{
    width: 100%;
    min-height: 200px;
}

.aboutintro h1{
    text-align: center;
    padding: 30px 0 0 0;
       font-family: "museo-sans-rounded", 'Helvetica';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #1eb5e9;

}

.aboutintro p{
     padding: 30px 0 0 0;
     font-family: "museo-sans-rounded", 'Helvetica';
     width: 60%;
     text-align: center;
     margin: 0 auto;
     font-size: 22px;

}

.teammembers{
     width: 100%;
    min-height: 300px; 
    margin: 50px 0 0 0;  
}

.about h2{
    text-align: center;
    padding: 30px 0 0 0;
       font-family: "museo-sans-rounded", 'Helvetica';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #1eb5e9;
}


.footer{
    position: relative;
    bottom: 0;
    margin: 50px 0 0 0;
    max-width: 950px;
    min-width: 320px;
    height: 30px;
    background-color: #1eb5e9;
    margin: 0 auto;

}

.footer p{
    color: white;
    text-align: center;
    padding: 7px 0 0 0;
    letter-spacing: .5px;
}

.footer p a{
    color: white;
}



/*Jquery Styles*/
.hide{
    display: none;
}

.show{
    display: block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 980px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
